body {
  background-color: #00144d;
  margin: 10px auto; }

div.main {
  max-width: 1024px;
  min-width: 400px;
  margin: 0 auto; }

div.tb-common {
  padding: 5px;
  margin: 0;
  background-color: #74000e;
  font-family: "Tahoma", Geneva, sans-serif;
  color: #fff; }
  div.tb-common a {
    color: #FFF;
    text-decoration: none; }
  div.tb-common a:hover {
    text-decoration: underline; }

div .footer {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: .75em;
  text-align: center; }

div.float-right {
  float: right;
  display: inline; }

div.header {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px; }
  div.header div.info-bar {
    text-align: right; }
  div.header span.site-title {
    font-size: 3em; }
  div.header span.subtitle {
    font-size: 1.5em; }

div.content {
  background-color: #FFF;
  margin: 0;
  padding: 5px; }

ul.tab_set {
  list-style-type: none;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  overflow: hidden;
  border-bottom: 2px solid #ac3800;
  font-family: "Tahoma", Geneva, sans-serif; }
  ul.tab_set li.tab {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    float: left;
    padding: 4px 10px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 1.25em;
    color: #000; }
    ul.tab_set li.tab a {
      color: #000;
      text-decoration: none; }
  ul.tab_set li.selected {
    background-color: #ac3800;
    color: #eee; }
    ul.tab_set li.selected a {
      color: #eee; }
  ul.tab_set li.highlight {
    background-color: #efcb80;
    color: #000; }
    ul.tab_set li.highlight a {
      color: #000; }

div.container {
  padding-top: 5px;
  padding-bottom: 5px; }

div.table {
  padding-top: 5px;
  padding-bottom: 5px; }
  div.table div.body {
    display: table;
    width: 100%; }
    div.table div.body div.header {
      display: table-header-group;
      background-color: #999;
      border: 1px solid #fff;
      padding: 3px 10px;
      font-family: "Tahoma", Geneva, sans-serif;
      font-weight: bold;
      text-align: center; }
    div.table div.body div.row {
      display: table-row; }
    div.table div.body div.cell {
      border: 1px solid #000;
      display: table-cell;
      padding: 3px 10px; }
    div.table div.body div.light_gray {
      background-color: #555; }
    div.table div.body div.form_error_message {
      font-size: .75em;
      color: #eee; }
    div.table div.body div.error {
      background-color: #ac3800; }
    div.table div.body div.success {
      background-color: #adf7a8;
      text-align: center;
      font-size: 1.1em;
      width: 100%; }

#statMsgBox, #statMsgBoxBlock {
  width: 400px;
  margin: 0 auto;
  padding: 5px;
  border-radius: 5px;
  color: #000;
  font-family: "Tahoma", Geneva, sans-serif; }
  #statMsgBox div.title, #statMsgBoxBlock div.title {
    text-align: center;
    padding: 5px;
    font-size: 1.2em; }
  #statMsgBox div.message, #statMsgBoxBlock div.message {
    text-align: center; }

div.success {
  background-color: #adf7a8; }

div.error {
  background-color: #efcb80; }

div.add_device_table {
  width: 50%; }
  div.add_device_table div.mac {
    width: 25%; }
  div.add_device_table div.desc {
    width: 75%; }

span.header {
  font-family: "Tahoma", Geneva, sans-serif;
  font-size: 1.25em; }

table.dataTable .dataTables_empty {
  font-family: "Tahoma", Geneva, sans-serif;
  font-size: 1.2em; }
table.dataTable th {
  font-family: "Tahoma", Geneva, sans-serif; }
table.dataTable tr.odd {
  background-color: #555; }
table.dataTable td.action {
  text-align: center; }
  table.dataTable td.action a {
    font-family: "Tahoma", Geneva, sans-serif;
    font-size: .8em;
    text-decoration: none;
    color: #000; }
  table.dataTable td.action a:hover {
    text-decoration: underline; }

div.groupMembers-wrapper {
  width: 55%; }

table.groupMembers td.name, table.groupMembers td.pennkey {
  width: 30%; }
table.groupMembers td.admin {
  width: 10%; }

div.deviceTable-wrapper {
  margin: 0 auto;
  width: 85%; }

table.deviceTable td.mac {
  width: 15%; }
table.deviceTable td.added, table.deviceTable td.expires, table.deviceTable td.added_by {
  width: 15%;
  text-align: center; }

div.group-user div.body {
  width: 50%; }
div.group-user div.name {
  width: 50%; }
div.group-user div.username {
  width: 25%; }
div.group-user div.group-admin {
  width: 25%; }

div .hidden {
  display: none; }

div.button {
  border-radius: 5px;
  margin: 5px;
  font-family: "Tahoma", Geneva, sans-serif;
  background-color: #ac3800;
  color: #eee;
  padding: 3px 10px;
  display: inline-block; }

#block {
  margin-left: 15px; }

div.hightlight {
  background-color: #efcb80; }

/*# sourceMappingURL=style.css.map */
