$bg-color: #00144d;

$tb-bg-color: #74000e;
$tb-fg-color: #fff;

$border-radius: 5px;

$def-padding: 5px;

$accent-font: "Tahoma", Geneva, sans-serif;


$accent-color-dk: #ac3800;
$accent-color-dk-font: #eee;
$accent-color-lg: #efcb80;
$accent-color-lg-font: #000;

$font-size-title: 3em;
$font-size-subtitle: 1.5em;

body {
    background-color: $bg-color;
    margin: 10px auto;
}

div.main{
    max-width: 1024px; 
    min-width: 400px;
    margin: 0 auto; 
}

div.tb-common {
    padding: $def-padding;
    margin: 0;
    background-color: $tb-bg-color;
    font-family: $accent-font;
    color: $tb-fg-color;
    
    a {
        color: #FFF;
        text-decoration: none;
    }

    a:hover{
        text-decoration: underline;
    }
    
}

div .footer{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: .75em;
    text-align: center;
}

div.float-right {
    float: right;
    display: inline;
}

div.header{
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;

    div.info-bar{
        text-align: right;
    }

    span.site-title {
        font-size: $font-size-title;
    }

    span.subtitle {
        font-size: $font-size-subtitle;
    }
}

div.content{
    background-color: #FFF;
    margin: 0;
    padding: $def-padding;
}

ul.tab_set {
    list-style-type: none;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    overflow: hidden;
    border-bottom: 2px solid $accent-color-dk;
    font-family: $accent-font;
    li.tab {
        border-top-right-radius: $border-radius;
        border-top-left-radius: $border-radius;
        float: left;
        padding: 4px 10px;
        display: table-cell;
        vertical-align: middle;
        a{
            text-align: center;
            text-decoration: none;
            font-size: 1.25em;
            color: $accent-color-lg-font;
        }
    }
    
    li.selected {
        background-color: $accent-color-dk;
        a {
            color: $accent-color-dk-font;
        }
    }
    
    li.highlight {
        background-color: $accent-color-lg;
        a {
            color: $accent-color-lg-font;
        }
    }
}


div.container {
    padding-top: $def-padding;
    padding-bottom: $def-padding;
}
div.table {
    padding-top: $def-padding;
    padding-bottom: $def-padding;
    div.body{
        display: table;
        width: 100%;

        div.header {
            display: table-header-group;
            
            background-color: #999;
            
            border: 1px solid #fff;
            padding: 3px 10px;
            
            font-family: $accent-font;
            font-weight: bold;
            text-align: center;
        }
        div.row {
            display: table-row;
        }
        div.cell  {
            border: 1px solid #000;
            display: table-cell;
            padding: 3px 10px;
        }
        div.light_gray {
            background-color: #555;
        }
        div.form_error_message{ 
            font-size: .75em;
            color: $accent-color-dk-font;
        }
        div.error {
            background-color: $accent-color-dk;
        }
        div.success {
            background-color: #adf7a8;
            text-align: center;
            font-size: 1.1em;
            width: 100%;
        }
    }
}

#statMsgBox, #statMsgBoxBlock{
    width: 400px;
    margin: 0 auto;
    padding: 5px;
    border-radius: $border-radius;
    color: $accent-color-lg-font;
    font-family: $accent-font;
    div.title {
        text-align: center;
        padding: $def-padding;
        font-size: 1.2em;
    }
    div.message {
        text-align: center;
    }
}

div.success {
    background-color: #adf7a8;
}

div.error {
    background-color: $accent-color-lg;
}

div.add_device_table{
    width: 50%;
    div.mac {
        width:25%;
    }
    div.desc {
        width: 75%;
    }
}


table.dataTable{
    .dataTables_empty {
        font-family: $accent-font;
        font-size: 1.2em;
    }
    th {
            font-family: $accent-font;
        }
    tr.odd {
        background-color: #555
    }
    td.action {
        text-align: center;
        a {
            font-family: $accent-font;
            font-size: .8em;
            text-decoration: none;
            color: #000;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}

div.groupMembers-wrapper {
    width: 55%;
}
table.groupMembers {
    td.name, td.pennkey {
        width: 30%;
    }
    td.admin { 
        width: 10%;
    }

} 

div.deviceTable-wrapper {
    margin: 0 auto;
    width: 85%;
}
table.deviceTable{
    td.mac {
        width:15%;
    }
    td.desc {
    }
    td.added, td.expires, td.added_by {
        width: 15%;
        text-align: center;
    }
}


div.group-user {
    div.body {
        width: 50%;
    }
    div.name {
        width: 50%;
    }
    div.username {
        width: 25%;
    }
    div.group-admin {
        width: 25%;
    }
}


div .hidden {
    display: none;
}

div.button {
    border-radius: $border-radius;
    margin: 5px;
    font-family: $accent-font;
    background-color: $accent-color-dk;
    color: $accent-color-dk-font;
    padding: 3px 10px;
    display: inline-block;
}

#block {
    margin-left: 15px;
}
div.hightlight {
    background-color: $accent-color-lg;
}
